
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.well {
  height: 50px;
  margin-top: 20px;
  padding-top: 6px;
}

.companyTitle {
  display: inline-block;
  color: #7F7F7F;
  font-size: 14px;
  margin-right: 10px;
}
.logo {
  width: 30px;
  margin-right: 10px;
  height: 30px;
}
.tShirts {
  margin-right: 10px;
  color: #7F7F7F;
  background: #F5F5F5;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.tShirts:hover {
  background: #E7E7E7;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
.cart {
  color: #7F7F7F;
  background: #F5F5F5;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.cart:hover {
  background: #E7E7E7;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
// 
// .itemSquare {
//   display:inline-block;
// }
